@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: $font-medium;
    color: $grayishBlue;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

// class layout
.container {
    margin: 0 auto;

    @include breakpoints-down(sm) {
        padding: 0 1.5rem;
    }

    @include breakpoints-up(sm) {
        // padding: 0 1.5rem;
        max-width: map-get($container-max-widths, 'sm');
    }

    @include breakpoints-up(md) {
        max-width: map-get($container-max-widths, 'md');
    }

    @include breakpoints-up(lg) {
        max-width: map-get($container-max-widths, 'lg');
    }

    @include breakpoints-up(xl) {
        max-width: map-get($container-max-widths, 'xl');
    }

    @include breakpoints-up(xxl) {
        max-width: map-get($container-max-widths, 'xxl');
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($veryDarkBlue, .85);
    z-index: 2;
    visibility: hidden;
}

.show {
    visibility: visible;
}

.btn {
    padding: .5rem 1.8rem;
    border: 2px solid $veryDarkBlue;
    border-radius: 5px;
    color: $veryDarkBlue;
}

.btn-red {
    color: $white !important;
    border: 2px solid $softRed;
    background-color: $softRed;
    transition: .3s;

    &:hover {
        color: $veryDarkBlue !important;
        background-color: transparent;
        border: 2px solid $veryDarkBlue;
    }
}