.header {
    // height: 4rem;
    position: relative;
    z-index: $z-index;

    .nav {
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {}

        &__menu {
            position: fixed;
            top: -150%;
            left: 0;
            width: 100%;
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 80% 20%;
            justify-items: center;
            transition: .4s;

            @include breakpoints-down(sm) {
                padding: 0 1.5rem;
            }

            @include breakpoints-up(sm) {
                max-width: map-get($container-max-widths, 'sm');
                left: 50%;
                transform: translate(-50%);
            }

            @include breakpoints-up(md) {
                display: none;
            }

            &.show-menu {
                top: 4rem;
            }

            .nav__list {
                width: 100%;
                padding: 1rem 0;
                text-align: center;
            }

            .nav__item {
                position: relative;
                padding: 1.5rem 0;

                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: rgba($grayishBlue, .4);
                }

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }

            .nav__link {
                text-transform: uppercase;
                color: $white;

            }

            .btn {
                display: inline-block;
                border: 2px solid $white;
                width: 100%;
            }

            .nav__social {
                a {
                    color: $white;
                    display: inline-block;

                    &:first-child {
                        margin-right: 2rem;
                    }

                    i {
                        font-size: 1.5rem;
                    }
                }
            }

        }

        &__desktop {
            @include breakpoints-down(md) {
                display: none;
            }

            .nav__list {
                display: flex;
                align-items: center;
            }

            .nav__item {
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }

            .nav__link {
                color: $veryDarkBlue;
                transition: color 200ms ease-in-out;

                &:hover,
                &.active {
                    color: $softRed;
                }

            }
        }

        &__toggle {
            color: $veryDarkBlue;
            cursor: pointer;

            @include breakpoints-up(md) {
                display: none;
            }
        }
    }
}

.header.open-menu {
    .nav {
        &__logo {
            svg {

                g {
                    path {
                        fill: $white;
                    }

                    g path {
                        fill: $veryDarkBlue;
                    }
                }

                circle {
                    fill: $white;
                }
            }
        }

        &__toggle {
            color: $white;
        }
    }
}