// Colors

//  Primary
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);

//  Neutral
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: rgb(37, 43, 70);
$white:#fff;

// Fonts
$font-small:1rem;
$font-medium:1.125rem;

// Font Weights
$font-weight-regular:400;
$font-weight-bold:500;

// z-index
$z-index:100;